accelerate-1.7.0
bitsandbytes==0.46.0
git+https://github.com/openai/CLIP.git
openai==1.84.0
transformers== 4.52.4

# Install Torch

--extra-index-url https://download.pytorch.org/whl/cu118
torch 
torchvision 
torchaudio
